<odoo>
  <data>

    <!-- Prueba a eliminar o modificar el valor de sequence -->
    <menuitem id="hospital_menu" name="Gestión de Hospital" sequence="1"/>

    <menuitem id="hospital_medicos_menu" name="Médicos" parent="hospital_menu"/>
    <menuitem id="hospital_pacientes_menu" name="Pacientes" parent="hospital_menu"/>
    <menuitem id="hospital_diagnosticos_menu" name="Diagnósticos" parent="hospital_menu"/>

    <record id="action_hospital_medicos" model="ir.actions.act_window">
        <field name="name">Médicos</field>
        <field name="res_model">hospital.medicos</field>
        <field name="view_mode">list,form</field>
    </record>

    <menuitem id="menu_action_hospital_medicos" name="Administrar Médicos" parent="hospital_medicos_menu" action="action_hospital_medicos"/>

    <record id="action_hospital_pacientes" model="ir.actions.act_window">
        <field name="name">Pacientes</field>
        <field name="res_model">hospital.pacientes</field>
        <field name="view_mode">list,form</field>
    </record>

    <menuitem id="menu_action_hospital_pacientes" name="Administrar Pacientes" parent="hospital_pacientes_menu" action="action_hospital_pacientes"/>

      <record id="action_hospital_diagnosticos" model="ir.actions.act_window">
        <field name="name">Diagnosticos</field>
        <field name="res_model">hospital.diagnosticos</field>
        <field name="view_mode">list,form</field>
    </record>

    <menuitem id="menu_action_hospital_diagnosticos" name="Diagnósticos" parent="hospital_diagnosticos_menu" action="action_hospital_diagnosticos"/>
  </data>
</odoo>
